@use '@material/button/mdc-button';
@use '@material/button';

@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";

@use "@material/card";

@include card.core-styles;

@include icon-button.core-styles;

// @import 'variables';

a {
    color: black;
}

.card-font-mg {
    margin-left: 10px;
}

.title-font-size {
    font-size: 40px;
}

.subtitel-font-size {
    font-size: 17px;
}

.description-font-size {
    font-size: 20px;
}

.common__wrapper {
    width: 90%;
    margin: 100px auto;
}

.skill-contents-wrapper {
    margin: 10px;
    padding: 10px;
    background-color: gainsboro;
    border-radius: 4px;
    display: inline-block;
    justify-content: space-between;
    flex-basis: 45%;
    min-height: 200px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}

body {
    color: black;

    .mdc-top-app-bar {
        background-color: white;

        &__section {
            margin-right: 20px;
        }

        &__title {
            color: black;
        }
    }

    .top-app-bar-text-common {
        list-style: none;
        padding: 10px;
    }

    .card {
        &__wrapper {
            padding-top: 100px;
            position: relative;
            z-index: 2;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 90%;
            margin: 0 auto;
            max-width: 1070px;
            padding-bottom: 16px !important;
            justify-content: space-between;
        }
    }

    .mdc-card {
        display: inline-block;
        margin: 5px;

        &__media {
            min-width: 250px;
            height: 250px;
        } 
    }

    .demo-card {
        &__title {
            @extend .card-font-mg;
        }
        &__secondary {
            @extend .card-font-mg;
        }
    }
    .title {
        &__icon {
            display: inline-block;
            width: 50px;
            height: 50px;
            vertical-align: middle;
        }
        &__main {
            display: inline-block;
            margin-left: 10px;
            @extend .title-font-size;
            vertical-align: middle;
        }
    }

    .about {
        &__wrapper {
            @extend .common__wrapper;
        }
        &__item{
            &__title {
                display: inline-block;
                font-size: 17px;
                margin: 10px 60px 10px 20px;
                width: 100px;
            }
            &__description {
                display: inline-block;
                font-size: 17px;
            }
        }
        &__greeting {
            margin: 20px;
            font-size: 17px;
            text-align: center;
        }
    }

    .skill {
        &__wrapper {
            @extend .common__wrapper;
        }
        &__contents {
            &__container {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
            &__title {
                &__wrapper {
                    text-align: center;
                    margin-bottom: 7px;
                }
                &__icon {
                    display: inline-block;
                    vertical-align: middle;
                    height: 25px;
                    margin-right: 5px;
                }
                &__description {
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 25px;
                    font-weight: bold;
                }
            }
            &__item {
                list-style: none;
                margin: 2px;
            }
        }

        &__name {
            display: inline-block;
            font-size: 17px;
            width: 150px;
            vertical-align: middle;
        }

        &__period {
            display: inline-block;
            font-size: 17px;
            width: 75px;
            vertical-align: middle;
        }

        &__star {
            vertical-align: middle;
        }

        &__language__wrapper {
            @extend .skill-contents-wrapper;
        }

        &__db__wrapper {
            @extend .skill-contents-wrapper;
        }

        &__tool__wrapper {
            @extend .skill-contents-wrapper;
        }
        &__github {
            text-align: center;
            margin: 20px;
        }
    }

    .carrier {
        &__wrapper {
            @extend .common__wrapper;
        }
        &__contents {
            &__item {
                margin: 10px 20px;
                // font-size: 0;
                letter-spacing: -.4em; /* 文字間を詰めて隙間をなくす */
            }
            &__start {
                display: inline-block;
                font-size: 17px;
                width: 150px;
                letter-spacing: normal;
            }
            &__summary {
                display: inline-block;
                font-size: 17px;
                letter-spacing: normal;
            }
            &__description {
                margin: 0 0 0 150px;
                font-size: 17px;
                letter-spacing: normal;
            }
        }
    }

    .contact {
        &__wrapper {
            @extend .common__wrapper;
        }
        &__header {
            margin-bottom: 20px;
        }
        &__description {
            text-align: center;
            @extend .description-font-size;
            margin-bottom: 20px;
        }
        &__contents {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
        &__twitter {
            margin: 20px;
        }
        &__qiita {
            margin: 20px;
        }
        &__note {
            margin: 20px;
        }
    }

    // .sidebar__wrapper {
    //     background-color: red;
    //     position: absolute;
    //     right: 0;
    //     width: 300px;
    //     height: 100%;
    //     text-align: center;
    // }
}