@use '@material/button/mdc-button';
@use '@material/button';

@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";

@use "@material/card";

@include card.core-styles;

@include icon-button.core-styles;

@import 'variables';

a {
    color: black;
}

body {
    color: black;
}

.mdc-top-app-bar {
    background-color: white;
}

.mdc-top-app-bar__title {
    color: $topAppBar;
}

.top-app-bar-text-common {
    list-style: none;
    padding: 10px;
}

.card {
    &__wrapper {
        width: 90%;
        padding-top: 100px;
        margin: 0 auto;
    }
}

.mdc-card {
    display: inline-block;
    margin: 10px;
    &__primary-action {
        width: 400px;
    }

    &__media {
        height: 250px;
    }

}

.my-card-content {
    padding: 16px;
}

.my-card {
    height: 350px;
    width: 350px;
}

.sidebar__wrapper {
    background-color: red;
    position: absolute;
    right: 0;
    width: 300px;
    height: 100%;
    text-align: center;
}

.twitter__timeline {
    padding: 10px;
}